.wat {
	font-size: 48px;
	padding-top: 10;
	padding-bottom: -150;
}

.info {
	text-align: center;
	margin-right: 200;
	margin-left: 200;
	background-color: #006666;
	color: white;
}

.info p {
	font-size: 28;
}

* {
	font-family: serif;
	
}

.double {
	padding: 0;
    border: none;
    border-top: medium double black;
    color: black;
    text-align: center;
    margin-left: -50px;
}

.skills {
	display: inline-block;
}

.own {
	padding-left: 50;
}

.body {
	margin-left: 200;
	margin-right: 200;
	background-color: white;
	padding-left: 50;
	color: rgba(9, 88, 83, 1);
	border-width: 5px;
	border: 20px solid black;
	border-radius: 10px;
}

.entire {
	background-color: rgba(223, 89, 52, 1);
}

}

li {
	color: black;
}

header {
	text-align: center;
	font-size: 28px;
}

header h1 {
	text-shadow: 2px 3px 3px #006666;
}